.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.lotus {
  background-color: #6960ec;
  border-color: #6960ec !important;
}
.SubHeading {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 10px;
}
.showsNear {
  margin: 10px 10px;
  /* justify-content: space-between; */
}
.RoundAbout {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding-top: 10px;
}
ul.show-icon {
  background-color: #f1f1f1;
  display: flex;
  list-style: none;
  height: 80px;
  justify-content: center;
  align-items: center;
}
footer {
  display: grid;
  width: 100%;
}
